<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>Previsao da Semana</title>
<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet" />
<link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}"
	rel="stylesheet" />
</head>
<body>
	<div class="panel panel-default" style="margin: 10px">
		<div class="panel-heading">
			<h1 class="panel-title">Previsão do Tempo</h1>
		</div>
		<div class="panel-body">
			<table class="table">
				<thead>
					<tr>
						<th>Dia da semana</th>
						<th>Temperatura Máxima</th>
						<th>Temperatura Mínima</th>
						<th>Umidade Relativa do ar</th>
						<th>Descrição</th>
						<th>Data e hora</th>
						<th>Cidade</th>
						<th>Latitude</th>
						<th>Longitude</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="previsao : ${previsaoTempo}">
					<td th:text="${previsao.diadasemana.diadasemana}"></td>
					<td th:text="${previsao.temperaturamax}"></td>
					<td th:text="${previsao.temperaturamin}"></td>
					<td th:text="${previsao.humidaderelativa}"></td>
					<td th:text="${previsao.descricao}"></td>
					<td th:text="${previsao.datahora}"></td>
					<td th:text="${previsao.cidade.nome}"></td>
					<td th:text="${previsao.cidade.latitude}"></td>
					<td th:text="${previsao.cidade.longitude}"></td>
					</tr>
				</tbody>
			</table>
			<!-- 
			<form class="form-inline" method="post" th:object="${previsao}" th:action="@{/previsaotempo}" style="margin: 20px 0">

				<div class="form-group">
					<input type="text" class="form-control" placeholder="Dia da semana" th:field="*{diadasemana}" /> 
					<input type="text" class="form-control"	placeholder="Temperatura Minima" th:field="*{temperaturamax}" /> 
					<input type="text" class="form-control" placeholder="Temperatura Maxima" th:field="*{temperaturamin}" />
					<input type="text" class="form-control" placeholder="Temperatura Maxima" th:field="*{humidaderelativa}" />
					<input type="text" class="form-control" placeholder="Descrição" th:field="*{descricao}" />
					<input type="text" class="form-control" placeholder="Data e Hora" th:field="*{datahora}" />
					<input type="text" class="form-control" placeholder="Latitude" th:field="*{latitude}" />
					<input type="text" class="form-control" placeholder="Longitude" th:field="*{longitude}" />
					<button type="submit" class="btn btn-primary">Adicionar</button>

				</div>
			</form>
			 -->
		</div>
	</div>
</body>
</html>